html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;

.msg {
  @apply text-transparent bg-clip-text bg-gradient-to-t backdrop-blur-xl from-slate-800 via-cyan-600 to-black;
}

/* @layer base {
  @font-face {
    font-family: 'Street';
    src: url('../public/fonts/Street.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Jungle';
    src: local('Jungle') url('/fonts/Jungle.woff2') format('woff2');
    font-style: normal;
    font-display: auto;
    font-display: swap;
  }
}
.font-Jungle {
  font-family: Jungle !important;
} */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
